.menu {
  position: fixed;
  bottom: 20px; /* Розташування меню внизу */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 15px;
  z-index: 10;
}

.menu-button {
  background-color: #fff;
  color: #000;
  border: 2px solid #000000;
  padding: 15px 25px; /* Збільшено розмір кнопок */
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.menu-button:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .menu {
    bottom: 10px; /* Зменшити відступ для мобільних */
    gap: 10px;
  }

  .menu-button {
    padding: 10px 15px; /* Компактні кнопки */
    font-size: 14px;
    border-radius: 8px;
  }
}